body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.text-quote {
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  line-height: 1.5;
  color: #666;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
} 

.simply-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}

.separator {
  margin: 0 10px;
}
